<!DOCTYPE html>
<meta charset="utf-8" />
<html>
<head>
<title>AI Store</title>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css">
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
</head>
  <body bgcolor="white">
<div data-role="page">
  <div data-role="header">
    <h1>AI store</h1>
  </div>
  <div data-role="content">
<table align="center">
<tr>
 <td>AI Stores</td>
</tr>
</table>
  
 <div align="center">
     <a href="{% url 'lotter_main_page' %}" data-role="button">Lotter Number 예측</a>
      <a href="{% url 'predict_stock' %}"  data-role="button">주식 예측</a>
     <a href="{% url 'model_desc' %}"  data-role="button">예측 모델 실험 및 설명</a>
     <a href="https://github.com/Andychoi153/AI"  data-role="button">Source code & description</a> 
            </div>

 </div>
  <div data-role="footer">
      <div align="center">
    <a href="{% url 'home' %}" data-role="button" data-icon="home">Home</a>
</div>
  </div>
</div>
</body>
</html>
