{% extends 'base.html' %}

{% block content %}

<div data-role="page">
  <div data-role="header">
    <h1>AI store</h1>
  </div>
  <div data-role="content">
<table align="center">
<tr>
 <td>AI Stores</td>
</tr>
</table>
  <ul>
      <a href="{% url 'lotter_main_page' %}" class="button white">Lotter Number 예측</a>
      <a href="{% url 'predict_stock' %}" class="button white">주식 예측</a> 
  </ul>
 </div>
  <div data-role="footer">
    <a href="{% url 'home' %}" data-role="button" data-icon="home">Home</a>

  </div>
</div>     
{% endblock %}