{% extends 'base.html' %}

{% block content %}

<div data-role="page">
  <div data-role="header">
    <h1>AI store</h1>
  </div>
  <div data-role="content">
<table align="center">
<tr>
 <td>Lotter numbers</td>
</tr>
</table>
  <ul>
      <div align="center">
    <a>{{ form }}</a>
           </div>
        
  </ul>
  </div>
  <div data-role="footer">
      <div align="center">
    <a href="{% url 'home' %}" data-role="button" data-icon="home">Home</a>
          </div>
  </div>
</div>  
{% endblock %}