{% extends 'base.html' %}

{% block content %}

<div data-role="page">
  <div data-role="header">
    <h1>AI store</h1>
  </div>
  <div data-role="content">
<table align="center">
<tr>
 <td>AI Stores</td>
</tr>
</table>
  <ul>
<div align="center">     
<img src="{{ MEDIA_URL }}images/lotter.png"  ></div> 
</ul>
<ul>
<a href="{% url 'lotter_extractor' %}" class="button white">번호 추출</a>   
</ul>
</div>
  <div data-role="footer">
    <a href="{% url 'home' %}" data-role="button" data-icon="home">Home</a>
  </div>
</div>      
{% endblock %}