{% extends 'base.html' %}

{% block content %}
<head>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css">
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
</head>
<body> 
<div data-role="page">
  <div data-role="header">
    <h1>AI store</h1>
  </div>
  <div data-role="content">
<table border="1" align="center">
<tr>
 <td>AI Stores</td>
</tr>
</table>
  <ul>
      {% load static %}
<img src="{% static 'images/lotter.png' %}"  >
</ul>
<ul>
<a href="{% url 'lotter_extractor' %}"><input type="button" value="번호 추출"></a>   
</ul>
</div>
  <div data-role="footer">
    <h4>푸터</h4>
  </div>
</div>      
{% endblock %}