{% extends 'base.html' %}

{% block content %}

<div data-role="page">
  <div data-role="header">
    <h1>AI store</h1>
  </div>
  <div data-role="content">
<table align="center">
<tr>
 
<td>Kospi200을 대상으로 손익 예상치를 기준으로하여 1~9 등급을 매김</td>
<td>1~4등급: 1~10일 내에 현재 대비 주가 지수가 오를 것으로 예상, 1등급에 가까울 수록 증가폭이 커질 것으로 예상</td>
<td>5~9등급: 1~10일 내에 현재 대비 주가 지수가 내려갈 것으로 예상, 9등급에 가까울 수록 내림폭이 커질 것으로 예상</td>
	{ % for stock in stocks % }
	  {{stock}}
	{ % endfor % }
</tr>
</table>

</div>
  <div data-role="footer">
      <div align="center">
    <a href="{% url 'home' %}" data-role="button" data-icon="home">Home</a>
          </div>
  </div>
</div>      
{% endblock %}